* {
    padding: 0;
    margin: 0;
}

:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --OCEAN: #404BBF;
    --WHITE: #FFFFFF;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE);
    background-color: var(--WHITE);
}



.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    color: var(--IRIS);
    line-height: 1.17;
}

.link {
    text-decoration: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto; 
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.highlight-logo-header {
    color: var(--NAVY-BLUE);
}

.highlight-logo-footer {
    color: var(--CLOUD);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);   
}

.address-item {
    color: var(--NAVY-BLUE);
}

.address {
    font-style: normal;
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.header-item:hover,
.header-item:focus,
.header-item:active,
.address-item:focus,
.address-item:hover,
.address-item:active {
    color: var(--OCEAN);  
}

header {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: o;
}

nav a { 
    display: flex;
}

nav ul {
    display: flex;
}

nav {
    display: flex; 
}

address ul {
    display: flex;
}

address {
    display: flex;
}

.btn-index {
    background-color: var(--IRIS);
    color: var(--WHITE);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.btn-index:hover,
.btn-index:focus {
background-color: var(--OCEAN);
}

.btn {
    background-color: var(--CLOUD);
    color: var(--IRIS);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}


.btn:hover,
.btn:focus {
    color: var(--WHITE);
    background-color: var(--OCEAN);
}

.footer {
    background-color: var(--NAVY-BLUE);
}

.footer-logo {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--IRIS);
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
}

.footer-text {
    color: var(--CLOUD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


.list-item-text {
    font-size: 16px;
    color: var(--SLATE);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.title-background {
    background-color: var(--NAVY-BLUE);
}

.title {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    color: var(--WHITE);
    text-align: center;
}

.title-section {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-background {
    background-color: var(--CLOUD);
}

.list-team {
    background-color: var(--WHITE);
}

.list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

